html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}




.mb-5{

	margin-top: 200px;


}


header.masthead {
  position: relative;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background: url("img/aimonkey_bg.png");*/
}


header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}


.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}



.ai-search-box{
	margin-top: 0px; 
	padding-top: 100px; 
	padding-bottom: 50px; 
	background: #2c3e50;
	box-shadow: 10px 10px 50px 0px #ecf0f1; 
	border-radius: 0;

}